
wheel
numpy
hyperparameter-hunter
sklearn
pandas
pandas_summary
beautifulsoup4
pandas-profiling
imbalanced-learn
gensim
requests
# interactive table
# https://blog.ouseful.info/2016/12/29/simple-view-controls-for-pandas-dataframes-using-ipython-widgets/
# https://alysivji.github.io/reactive-dashboards-with-dash.html
qgrid
jupyter-datatables
spacy
# python3 -m spacy download en_core_web_md
matplotlib
# seaborn>=0.8.1
# torch<0.4
# torchtext>=0.2.3
